h1 {
    color: aqua;
   
}

.Header {
    /* background-color: rgb(0,0,255); */
    display: flex;
    justify-content: space-between;  
}
.grid{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.item img{
    border-radius: 100px ;
}

.item p{
/* background-color: darkgreen; */
    color: deeppink;
}

body{
    background-color: #8000ff;
}

.Header h1{
    color: rgb(255,0,128);
}

*{
    border: solid;
}
.menu {
    margin: 20px;

}